.greeting {
  background-color: blue;
  color: aliceblue;
  padding: 30px;
}
.destructure {
  background: #000;
  color: aliceblue;
  padding: 30px;
}
.external {
  margin: 150px;
}
.module {
  margin: 200px;
}
.org-image {
  width: 200px;
  height: 200px;
  background-color: aqua;
  border: 2px solid #333;
  cursor: pointer;
}
.image {
  width: 200px;
  height: 200px;
  /* background-color: aqua; */
  border: 2px solid #333;
  cursor: pointer;
}

.light {
  background-color: aliceblue;
  color: #000;
  padding: 30px;
}
.black {
  background-color: rgb(0, 0, 0);
  color: #ffffff;
  padding: 30px;
}
.header {
  background-color: aqua;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.sub-header {
  background-color: rgb(0, 255, 38);
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
